/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 1784px) {
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 769px) {
	/*------------- Header -------------*/
	.hamburgerButton {
		display: flex;
	}

	.dotMenu {
		display: none;
	}

	.navbarLinks {
		display: none;
	}

	.copyright span {
		padding-right: 9px;
	}
	.rightContent {
		padding: 15px 1px;
		display: none;
	}

	main {
		display: unset;
		width: 105%;
	}

	.slides img,
	.slides2 img,
	.slides3 img,
	.slides4 img,
	.slides5 img,
	.slides6 img {
		width: 100%;
		height: 100%;
	}

	.mediaImgNo {
		display: none;
	}

	.mediaImg {
		display: flex;
	}

	.bottom {
		display: grid;
		grid-template-columns: 23% 23% 23% auto;
		color: white;
		font-size: 7px;
		height: 10%;
		left: 2rem;
		right: 2rem;
		top: 67%;
		grid-gap: 2rem;
		font-size: 0.75rem;
	}

	.bottom p {
		font-size: 13px;
	}
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 541px) {
	.bottom {
		display: grid;
		grid-template-columns: 23% 23% 23% auto;
		position: absolute;
		color: white;
		font-size: 7px;
		height: 10%;
		left: 2rem;
		right: 2rem;
		top: 76%;
	}

	.mediaImgNo {
		display: none;
	}

	.mediaImg {
		display: flex;
	}

	.bottom p {
		background-color: none;
		font-size: 9px;
	}
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 426px) {
	.bottom {
		display: grid;
		grid-template-columns: auto auto;
		left: 1rem;
		position: absolute;
		top: 50%;
	}

	.bottom h1 {
		font-size: 25px;
	}

	.bottom p {
		font-size: 14px;
	}
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 415px) {
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 412px) {
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 376px) {
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 361px) {
}

/*------------- @MEDIA ------------- @MEDIA -------------*/
@media screen and (max-width: 321px) {
}
